masthead__menu::before {
  background-color: #dfddd7;
  background-size: contain;
  -webkit-mask-image: url('img/and-e-tech-logo-300.svg');
  mask-image: url('img/and-e-tech-logo-300.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  text-indent: -999999px;
  content: "and-e.tech";
}
